.DS_Store
.idea
.vscode
*.log

# Frontend (Managed by its own .gitignore)
frontend/node_modules
frontend/.next
frontend/out
frontend/.env
frontend/.env.local

# Backend (Managed by its own .gitignore)
backend/vendor
backend/node_modules
backend/.env
